*{
    font-family: 'Roboto', sans-serif;
   
}
body{
    margin: 0;
}
h3{
    margin: 0;
}
h4{
    font-size: large;
}
.navbar{
    background-color: rgb(193, 204, 158);
    height: 55px;
    position: fixed;
    width: 100%;
}
.navlist{
    float: right;

}
.navlist li{
    display: inline-block;
}
.navlist li a{
    color: rgb(14, 10, 1);
    margin: 0 10px;
    text-decoration: none;
}
.navlist li a:hover{
    color: rgb(230, 55, 230);
}
.text-center{
    text-align: center;
}
.welcome{
    color: rgb(141, 224, 250);
    background-image: url("../images/5721-rick-and-morty-wallpapers-1920x1080-fuer-mobile-hd.jpg");
    background-position: center;
    background-size: 90%;
    padding: 152px;
    font-size: 30px;
    font-weight: 600;
}
.basic-section{
    padding: 20px 50px;
}

.form input{
    padding: 6px;
    border-radius: 10px; 
    border: 1px solid rgba(202, 1, 209, 0.467);
    margin: 0 5px 0 0;
}
.btn{
    background-color: rgb(196, 169, 246);
    color: rgb(7, 2, 15);
    font-weight: 600;
}

.text-highlighting{
    color: orangered;
}
.footer{
    background-color: rgb(193, 204, 158);
    padding: 30px 10%;
    color: purple;
}
.footer p{
    color: rgb(167, 4, 207);
    letter-spacing: 3px;
    font-weight: 400;
}
.linkliste{
    margin: 0;
    list-style-type: none;
    padding: 0;
}
.linkliste li a{
    padding: 5px 0;
    text-decoration: none;
    font-weight: 400;
}
.linkliste li a:hover{
    color: rgb(167, 4, 207);
}
.bilder{
    padding-right:100px;
}